div#tytul{
    padding: 70px 0;
    border: 3px solid black;
    text-align: center;
    font-size: 500%;
    color: white;
    font-family: 'MedievalSharp';
    
}
div#png{
    background: transparent;
    width: 25.43%;
    height: 21%;
    display: inline-block;
    color: white;
}
#png2,#png3,#png4,#png5{
    background: transparent;
    color: white;
}
div#wybor{
    display: inline-block;
    float: right;
    text-align: center;
    padding: 8.9% 26%;
    color: white;
}
div#statystyki{
    display: inline-block;
    float: left;
    height: 50%;
    width: 40%;
    color: white;
    font-family: 'MedievalSharp';
    font-size: 30px;
}
div#postac{
    display: inline-block;
    float: left;
    height: 2%;
    width: 100%;
    color: white;
    font-family: 'MedievalSharp';
    font-size: 50px;
}
div#eq{
    display: inline-block;
    float: left;
    height: 50%;
    width: 60%;
    color: white;
}
body{
    background-color: black;
    color: white;
}
.button,.select,.input {
    background-color: black;
  color: white;
  border: 2px solid #e7e7e7;
}
input[type="button"]{

    background-color : black; 
  
}